
/* Indicate the checkbox's card is selected */

[type=radio]:checked + .radioCard {
	@apply border-green-600 bg-green-100 text-green-900;
}

[type=radio]:not(:checked) + .radioCard .iconUnchecked {
	display: inline-block;
}

[type=radio]:not(:checked) + .radioCard .iconChecked {
	display: none;
}

[type=radio]:checked + .radioCard .iconUnchecked {
	display: none;
}

[type=radio]:checked + .radioCard .iconChecked {
	display: inline-block;
}


[type=radio]:focus + .radioCard {
	@apply border-transparent shadow-focus;
}

.radioContainer:focus-within [type=radio]:not(:checked) + .radioCard {
	@apply bg-white;
}