/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;


/* Currently used by icon-link.js: */
@layer utilities {
	.filter-colorless {
		filter: opacity(60%) brightness(0);
	}
	@variants hover, focus {
		.filter-none {
			filter: none;
		}
	}
}


@layer base {
	html {
		scroll-behavior: smooth;
	}

	:focus {
		@apply shadow-focus;
		outline: 0;
	}
}